{{ form_start(form) }}

<div class="row form-group">
    <label class="col-sm-1 col-md-offset-3 control-label">Fecha*</label>
    <div class="col-sm-3">
        {{ form_widget(form.fecha, { 'attr': {'class': 'form-control fecha', 'placeholder': "DD-MM-AAAA", 'autocomplete': "off"} }) }}
        <span class="form-error">{{ form_errors(form.fecha) }}</span>
    </div>
</div>
    
<div class="row form-group">
    <label class="col-sm-1 col-md-offset-3 control-label">Cultivo*</label>
    <div class="col-sm-3">
        {{ form_widget(form.cultivo, { 'attr': {'class': 'form-control'} }) }}
        <span class="form-error">{{ form_errors(form.cultivo) }}</span>
    </div>
</div>
    
<div class="row form-group">
    <label class="col-sm-1 col-md-offset-3 control-label">Lote*</label>
    <div class="col-sm-3">
        {{ form_widget(form.lote, { 'attr': {'class': 'form-control'} }) }}
        <span class="form-error">{{ form_errors(form.lote) }}</span>
    </div>
</div>
    
<div class="row form-group">
    <label class="col-sm-1 col-md-offset-3 control-label">Agua recibida* (mm)</label>
    <div class="col-sm-3">
        {{ form_widget(form.aguaRecibida, { 'attr': {'class': 'form-control'} }) }}
        <span class="form-error">{{ form_errors(form.aguaRecibida) }}</span>
    </div>
</div>
    
<div class="row form-group">
    <label class="col-sm-1 col-md-offset-3 control-label">Fertilizado</label>    
    <div class="col-sm-3">
        {{ form_widget(form.fertilizado) }}
    </div>
</div>
    
<div class="row form-group">
    <label class="col-sm-1 col-md-offset-3 control-label">Fumigado</label>    
    <div class="col-sm-3">
        {{ form_widget(form.fumigado) }}
    </div>
</div>
    
<div class="row form-group">
    <label class="col-sm-1 col-md-offset-3 control-label">Arado</label>    
    <div class="col-sm-3">
        {{ form_widget(form.arado) }}
    </div>
</div>

<div class="row form-group">
    <label class="col-sm-1 col-md-offset-3 control-label">Costo* ($)</label>
    <div class="col-sm-3">
        {{ form_widget(form.costo, { 'attr': {'class': 'form-control'} }) }}
        <span class="form-error">{{ form_errors(form.costo) }}</span>
    </div>
</div>
    
<div class="row form-group">
    <label class="col-sm-1 col-md-offset-3 control-label">Descripción</label>
    <div class="col-sm-3">
        {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
    
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <a class="btn btn-danger" href="{{url('siembra')}}">Cancelar</a>
        <button type="submit" style="background-color: #8bb837; border-color: #8bb837; color: white" class="btn">Guardar</button>
    </div>
</div>
<span>(*) Campos obligatorios </span>

{{ form_end(form) }}