{% extends '::base.html.twig' %}

{% block body %}
    <section class="container list">
        <div class="new-btn actions">
            <div class="form-changes btnCLienteNuevo">
                <a href="{{url('siembra_new')}}" class="btn btn-danger">Nuevo</a>
            </div>
        </div>
        <form type="get" action="{{ path('siembra') }}">
            <div class="table-responsive">
                <table id="tabla-usuarios" class="table table-striped table-hover grilla-generica">
                    <h4 class="header up">Administrar Siembras</h4>
                    <thead>
                        {% if siembras %}
                            <tr>
                                <th><strong>Nombre</strong></th>
                                <th><strong>Fecha</strong></th>
                                <th><strong>Cultivo</strong></th>
                                <th><strong>Lote</strong></th>
                                <th><strong>Agua recibida</strong></th>
                                <th><strong>Fertilizado</strong></th>
                                <th><strong>Fumigado</strong></th>
                                <th><strong>Arado</strong></th>
                                <th><strong>Costo</strong></th>
                                <th><strong>Descripción</strong></th>
                                <th class="col-sm-1"><strong>Acciones</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for siembra in siembras %}
                                <tr>
                                    <td>{{siembra.nombre}}</td>
                                    <td>{{siembra.fecha|date('d-m-Y')}}</td>
                                    <td>{{siembra.cultivo}}</td>
                                    <td>{{siembra.lote}}</td>
                                    <td>{{siembra.aguaRecibida}}</td>
                                    <td>{{siembra.fertilizado ? "Si" : "No"}}</td>
                                    <td>{{siembra.fumigado ? "Si" : "No"}}</td>
                                    <td>{{siembra.arado ? "Si" : "No"}}</td>
                                    <td>{{siembra.costo}}</td>
                                    <td>{{siembra.descripcion}}</td>
                                    <td>
                                        <a href="{{url('siembra_edit', { 'id': siembra.id })}}"><i class="fa fa-pencil"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </section>
    {% else %}
        <hr>
        {{"No se encontraron resultados"}}
    {% endif %}
{% endblock %}