{% extends '::base.html.twig' %}

{% block body %}
    <body class="login">
        <div id="login-page">
            <div class="container">
                <form class="form-login" method="post" novalidate>
                    <h2 class="form-login-heading">registro</h2>
                    <div class="login-wrap">
                        {{ form_start(form) }}
                        
                        <div class="form-group">
                            <label>Nombre*</label>
                            {{ form_widget(form.nombre, { 'attr': {'class': 'form-control', 'autofocus':'true'} }) }}
                            <span class="form-error">{{ form_errors(form.nombre) }}</span>
                        </div>
                        <div class="form-group">
                            <label>Apellido*</label>
                            {{ form_widget(form.apellido, { 'attr': {'class': 'form-control'} }) }}
                            <span class="form-error">{{ form_errors(form.apellido) }}</span>
                        </div>
                        <div class="form-group">
                            <label>Email*</label>
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                            <span class="form-error">{{ form_errors(form.email) }}</span>
                        </div>
                        <div class="form-group">
                            <label>Usuario*</label>
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                            <span class="form-error">{{ form_errors(form.username) }}</span>
                        </div>
                        <div class="form-group">
                            <label>Contraseña*</label>
                            {{ form_widget(form.plainPassword, { 'attr': {'class': 'form-control contraseña'} }) }}
                            <span class="form-error">{{ form_errors(form.plainPassword) }}</span>
                        </div>
                        <div class="form-group">
                            <label>Telefono</label>
                            {{ form_widget(form.telefono, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            <label>Provincia*</label>
                            {{ form_widget(form.provincia, { 'attr': {'class': 'form-control provincia'} }) }}
                            <span class="form-error">{{ form_errors(form.provincia) }}</span>
                        </div>
                        <div class="form-group">
                            <label>Localidad*</label>
                            {{ form_widget(form.localidad, { 'attr': {'class': 'form-control localidad'} }) }}
                            <span class="form-error">{{ form_errors(form.localidad) }}</span>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-block" style="background-color: #8bb837; border-color: #8bb837; color: white;" type="submit">Registrarme</button>
                        </div>
                        
                        <div class="form-group">
                            <a class="btn" href="{{ url('home') }}">Volver</a>
                        </div>
                        <span>(*) Campos obligatorios </span>

                        {{ form_end(form) }}                           
                    </div>
                </form>
            </div>
        </div>
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts    
        'bundles/back/js/jquery.backstretch.min.js'
        'bundles/back/js/Zona.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script>
        $.backstretch("{{ asset('bundles/back/images/login.jpg') }}", {speed: 1000});
        $(".contraseña").prop('type', 'password');
    </script>
    {% endjavascripts %}
{% endblock %}