{{ form_start(form) }}

    {{ form_row(form.nombre) }}
    {{ form_row(form.apellido) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}

    <button type="submit">Registrar</button>
{{ form_end(form) }}