{% block fos_user_content %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Login</title>
            {% block stylesheets %}
                {% stylesheets 
                    'bundles/back/css/bootstrap.min.css'
                    'bundles/back/css/style.css'
                    output='css/*.css'
                %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
                {% endstylesheets %}
            {% endblock %}
        </head>  
        <body class="login">
            <div id="login-page">
                <div class="container">
                    <form class="form-login" action="{{ path("fos_user_security_check") }}" method="post">
                        <h2 class="form-login-heading">iniciar sesión</h2>
                        <div class="login-wrap">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <input type="text" class="form-control" value="{{ last_username }}" placeholder="Usuario" name="_username" required="required"/>
                            <br>
                            <input type="password" class="form-control" placeholder="Contraseña" name="_password" required="required"/>
                            <div style="margin-top:10px; display:block;">
                                {#<label class="checkbox">
                                    <span class="pull-right">
                                        <a style="margin-top:4px; display:block;">Olvidó su contraseña?</a>
                                    </span>
                                </label>#}
                                <label class="pull-left">
                                    <input type="checkbox" id="recordame" name="_remember_me" value="on"/> Recordame
                                </label>
                            </div>
                            {% if error %}
                                <div>Usuario o contraseña incorrecto</div>
                            {% endif %}
                            <br>
                            <br>
                            <button class="btn btn-success btn-block" type="submit"><i class="fa fa-lock"></i> INGRESAR</button>
                            <hr>

                            <div class="registration">
                                Todavía no tenes una cuenta?<br/>
                                <a href="{{ path('registrar') }}">Registrate</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </body>
        {% block javascripts %}
            {% javascripts
                'bundles/back/js/jquery-2.2.3.min.js'  
                'bundles/back/js/bootstrap.min.js'      
                'bundles/back/js/jquery.backstretch.min.js'  
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            <script>
                $.backstretch("{{ asset('bundles/back/images/login.jpg') }}", {speed: 2500});
            </script>
            {% endjavascripts %}
        {% endblock %}
    </html>
{% endblock fos_user_content %}