{{ form_start(form) }}

<div class="row form-group">
    <label class="col-sm-1 col-md-offset-3 control-label">Nombre*</label>
    <div class="col-sm-3">
        {{ form_widget(form.nombre, { 'attr': {'class': 'form-control', 'autofocus':'true'} }) }}
        <span class="form-error">{{ form_errors(form.nombre) }}</span>
    </div>
</div>
    
<div class="row form-group">
    <label class="col-sm-1 col-md-offset-3 control-label">Superficie* (ha)</label>
    <div class="col-sm-3">
        {{ form_widget(form.superficie, { 'attr': {'class': 'form-control'} }) }}
        <span class="form-error">{{ form_errors(form.superficie) }}</span>
    </div>
</div>
    
<div class="row form-group">
    <label class="col-sm-1 col-md-offset-3 control-label">Suelo*</label>
    <div class="col-sm-3">
        {{ form_widget(form.suelo, { 'attr': {'class': 'form-control'} }) }}
        <span class="form-error">{{ form_errors(form.suelo) }}</span>
    </div>
</div>
    
<div class="row form-group">
    <label class="col-sm-1 col-md-offset-3 control-label">Descripción</label>
    <div class="col-sm-3">
        {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
    
<div class="row form-group">
    <label class="col-sm-1 col-md-offset-3 control-label">Provincia*</label>
    <div class="col-sm-3">
        {{ form_widget(form.provincia, { 'attr': {'class': 'form-control provincia'} }) }}
        <span class="form-error">{{ form_errors(form.provincia) }}</span>
    </div>
</div>

<div class="row form-group">
    <label class="col-sm-1 col-md-offset-3 control-label">Localidad*</label>
    <div class="col-sm-3">
        {{ form_widget(form.localidad, { 'attr': {'class': 'form-control localidad'} }) }}
        <span class="form-error">{{ form_errors(form.localidad) }}</span>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <a class="btn btn-danger" href="{{url('lote')}}">Cancelar</a>
        <button type="submit" style="background-color: #8bb837; border-color: #8bb837; color: white" class="btn">Guardar</button>
    </div>
</div>
<span>(*) Campos obligatorios </span>

{{ form_end(form) }}