{{ form_start(form) }}

<div class="form-group">
    <label class="col-sm-2 control-label">Nombre</label>
    <div class="col-sm-10">
        {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Superficie</label>
    <div class="col-sm-10">
        {{ form_widget(form.superficie, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Suelo</label>
    <div class="col-sm-10">
        {{ form_widget(form.suelo, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Descripción</label>
    <div class="col-sm-10">
        {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>

<button type="submit" class="btn btn-success">Guardar</button>
<a class="btn btn-danger" href="{{url('lote')}}">Cancelar</a>   
    
{{ form_end(form) }}