{% extends '::base.html.twig' %}
    
{% block body %}
    <section id="container" >
        <header class="header black-bg">
            <a href="{{ url('home') }}" class="logo">
                {% set image = 'bundles/back/images/planta.png' %}
                <img src="{{ asset(image) }}" width="40">
                <b>SmartAgro</b>
            </a>
        </header>
        <aside>
            <div id="sidebar"  class="nav-collapse ">
                <ul class="sidebar-menu" id="nav-accordion">
                    {% set image = 'bundles/back/images/planta.png' %}
                    <p class="centered"><img src="{{ asset(image) }}" width="60"></p>
                    <h5 class="centered">{{ app.user.nombre }} {{ app.user.apellido }}</h5>
                    <li>
                        <a id="home" href="{{ url('home') }}">
                            <span>Principal</span>
                        </a>
                    </li>
                    <li>
                        <a id="lote" href="{{ url('lote') }}">
                            <span>Lotes</span>
                        </a>
                    </li>
                    <li>
                        <a id="siembra" href="{{ url('siembra') }}">
                            <span>Siembras</span>
                        </a>
                    </li>
                    <li>
                        <a id="cosecha" href="{{ url('cosecha') }}">
                            <span>Cosechas</span>
                        </a>
                    </li>
                    <li>
                        <a id="rna" href="{{ url('rna') }}">
                            <span>RNA</span>
                        </a>
                    </li>
                    <li>
                        <a id="logout" href="{{ url('fos_user_security_logout') }}">
                            <span>Salir</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>        
        {% block main %}{% endblock %}                
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        "bundles/back/js/Menu.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}